@import '../../../variables.scss';

// $fontSizeXl: 1.6rem;
// $fontSizeLg: 1.3rem;
// $fontSizeMd: 1rem;
// $fontSizeSm: 0.9rem;
// $fontSizeXs: 0.7rem;

.PendingDepartureFDE {
  display: flex;
  flex-direction: row;

  max-width: $fdeMaxWidth;

  font-weight: bold;
  font-size: $fontSizeMd;
  font-family: Arial, Helvetica, sans-serif;

  border: $borderThin;

  background-color: $babyblue;

  .box {
    display: flex;

    padding: $spacingXs $spacingSm;

    font-weight: bold;
    font-size: $fontSizeMd;

    @include flexCenterVertical();

    &:not(:first-child) {
      border-left: $borderThin;
    }
  }

  .depRunway,
  .assignedAlt {
    @include flexCenterHorizontal();
  }

  .sidName {
    flex-grow: 2;
  }
}

.widthXs {
  width: 1rem;
}

.widthSm {
  width: 1.8rem;
}

.widthMd {
  width: 2rem;
}

.widthLg {
  width: 6rem;
}

.bgYellow {
  background-color: $paleYellow;
}

.bgWhite {
  background-color: white;
}
