@import '../../variables';

.ArrFdeSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  border: 2px solid blue;

  .NorthDepCol,
  .SouthDepCol {
    display: flex;
    flex-direction: column;

    width: 50%;
  }

  .NorthDepCol {
    margin-right: $spacingXs;
    margin-left: $spacingSm;
  }

  .SouthDepCol {
    margin-right: $spacingSm;
    margin-left: $spacingXs;
  }
}
