@import '../../variables';

.StripPanel {
  display: flex;
  flex-direction: column;

  border: 2px inset;

  background-color: $darkGrey;

  overflow: auto;

  .Header {
    display: flex;
    flex-direction: row;

    padding: $spacingXs;

    font-weight: bold;

    background-color: $medGrey;

    .title {
      min-width: 12rem;
    }
  }

  .Strips {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 2;
    justify-content: flex-start;

    padding: $spacingXs;
  }
}

.SizeSm {
  flex-grow: 0.2;

  max-height: 10rem;

  overflow: hidden;
}

.SizeMd {
  flex-grow: 0.6;
}

.SizeLg {
  flex-grow: 8;
}
