@import '../../../../variables.scss';

$fontSizeXl: 1.6rem;
$fontSizeLg: 1.3rem;
$fontSizeMd: 1rem;
$fontSizeSm: 0.9rem;
$fontSizeXs: 0.7rem;
$borderThin: 1px solid black;
$babyblue: #c1e9f9;

@mixin flexCenterVertical {
  display: flex;
  align-items: center;
}
@mixin flexCenterHorizontal {
  display: flex;
  justify-content: center;
}

.ArrivalStrip {
  max-width: $fdeMaxWidth;

  font-weight: bold;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;

  border: 2px solid black;
  border-bottom: $borderThin;

  background-color: $arrivalTan;

  user-select: none;

  .col1 {
    width: 6.4rem;

    border-right: $borderThin;
    @include flexCenterVertical();

    .acId {
      justify-content: flex-start;

      padding: 0.25rem;

      font-weight: bold;
      font-size: $fontSizeLg;
    }
  }

  .col2 {
    display: flex;
    flex-direction: column;

    border-right: $borderThin;

    .acModelFull,
    .recat,
    .bottomBox {
      justify-content: flex-start;

      padding: $spacingSm;

      font-size: $fontSizeSm;
    }

    .topBox {
      display: flex;
      flex-direction: row;

      border-bottom: $borderThin;

      .acModelFull {
        width: $fontSizeLg * 3.4;

        border-right: $borderThin;
      }

      .recat {
        width: $fontSizeSm;
        @include flexCenterHorizontal();
      }
    }

    .bottomBox {
      visibility: hidden;
    }
  }

  .col3 {
    width: 3.4 rem;

    border-right: $borderThin;

    @include flexCenterHorizontal();
    @include flexCenterVertical();

    &:hover {
      background-color: darkgray;

      @media (max-width: 480px) {
        background-color: $babyblue;
      }
    }

    .arrow {
      font-size: $fontSizeMd;

      cursor: pointer;

      &:active {
        font-size: $fontSizeLg;
      }
    }

    .arrowPng {
      width: 1rem;
      height: 1rem;
      padding: 0.2rem;

      cursor: pointer;

      @media (max-width: 480px) {
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .col4 {
    position: relative;

    width: 3.2rem;

    border-right: $borderThin;

    @include flexCenterHorizontal();
    @include flexCenterVertical();

    &:hover {
      background-color: darkgray;

      @media (max-width: 480px) {
        background-color: $babyblue;
      }
    }

    .assignedAlt {
      font-size: $fontSizeXl;
    }
  }

  .col5,
  .col6 {
    border-right: $borderThin;
    @include flexCenterHorizontal();
    @include flexCenterVertical();

    &:hover {
      background-color: darkgray;
    }

    .assignedSpeed {
      padding: $spacingMd;

      font-size: $fontSizeSm;
    }
  }

  .col6 {
    width: 3rem;

    .assignedHeading {
      font-size: $fontSizeSm;
    }
  }

  .col7 {
    display: flex;
    flex-direction: column;

    border-right: $borderThin;

    .transponderCode,
    .starName {
      justify-content: flex-start;

      width: $fontSizeLg * 3.4;
      padding: $spacingSm;

      font-size: $fontSizeMd;

      @include flexCenterHorizontal;
      @include flexCenterVertical;
    }

    .topBox {
      border-bottom: $borderThin;
    }
  }

  .col8 {
    width: 2.8rem;

    border-right: $borderThin;

    @include flexCenterHorizontal();
    @include flexCenterVertical();

    .arrRunway {
      font-size: $fontSizeLg;
    }
  }

  .col9 {
    flex-grow: 1;

    &:hover {
      background-color: darkgray;
    }
  }
}

.bgGreen {
  background-color: $satelliteGreen;
}

.displayNone {
  display: none;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  // align-items: stretch;
}

.flexCol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
