@import 'variables';

.App {
  display: flex;
  flex-direction: column;

  height: 100%;

  font-size: $fontSizeSm;
  font-family: Arial, Helvetica, sans-serif;

  background-color: $lightGrey;

  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
