$fontSizeSm: 0.8rem;
$fontSizeMd: 1rem;
$fontSizeLg: 1.2rem;
$fontSizeXl: 1.4rem;

$spacingXs: 0.1rem;
$spacingSm: 0.2rem;
$spacingMd: 0.5rem;
$spacingLg: 0.8rem;
$spacingXl: 1rem;

$lightGrey: #d4d0c8;
$medGrey: #c0c0c0;
$darkGrey: #a0a0a0;
$darkestGrey: #949494;

$limeGreen: #00ff00;
$darkBlue: #0000ff;
$offWhite: #f3f3f3;
$babyblue: #c1e9f9;
$paleYellow: #fcfdab;
$satelliteSalmon: #fbdabf;
$satelliteGreen: #b9f0a0;

$borderThin: 1px solid black;

$fdeMaxWidth: 98%;

@mixin flexCenterVertical {
  display: flex;
  align-items: center;
}
@mixin flexCenterHorizontal {
  display: flex;
  justify-content: center;
}

.colorRed {
  color: red;
}

.bgYellow {
  background-color: $paleYellow;
}

.bgWhite {
  background-color: white;
}

.bgGreen {
  background-color: $limeGreen;
}

.borderYellow {
  border: 2px solid yellow;
}

.bgWhite {
  background-color: white;
}

.bgSatelliteGreen {
  background-color: $satelliteGreen;
}
