$fontSizeSm: 0.8rem;
$fontSizeMd: 1rem;
$fontSizeLg: 1.2rem;

$spacingXs: 0.1rem;
$spacingSm: 0.2rem;
$spacingMd: 0.5rem;

$lightGrey: #d4d0c8;
$medGrey: #c0c0c0;
$darkGrey: #a0a0a0;
$darkestGrey: #949494;

$limeGreen: #00ff00;
$darkBlue: #0000ff;
$offWhite: #f3f3f3;
